.card{
    overflow: hidden;
    border-radius: 30px;
    img{
       min-height: 100px;
  

    }
    .card-bottom{
        font-family:'Roboto', sans-serif; 
        background-color: whitesmoke;
        text-decoration: none !important;
       
    }
}